<%= render "shared/header" %>

<div class="budgets_contents">
  <div class="container">
    <h3>予算を編集</h3>
    <%= render partial: "form", locals: { budget: @budget } %>
  </div>
</div>

<%= render "shared/footer" %>