<header class='second-header'>
  <%= link_to image_tag("sample.png", class:"second-logo"), "/" %>
</header>

<div class="budgets_contents">
  <div class="container">
    <h3>予算を設定</h3>
    <%= render partial: "form", locals: { budget: @budget } %>
  </div>
</div>

<%= render "shared/footer" %>

