.copyright{
  background-color: #ffea97;
  text-align: center;
  color: #65635e;
  font-size: 20px;
  padding: 10px 0;
  height: 50px;
}

.second-logo{
  height: 50px;
  width: 1100px;
  margin-bottom: 70px;
}