<div class="records_contents">
  <header class='second-header'>
    <%= link_to image_tag("sample.png", class:"second-logo"), "/" %>
  </header>
  <div class="records_main">
    <h4>記録を追加</h4>
    <%= render partial: "form", locals: { record: @record, budget:@budget } %>
  </div>
  <%= render "shared/footer" %>
</div>

