
/* budgetsメイン */
* {
  box-sizing: border-box;
}

.contents{
  background-color: rgba(179, 140, 119, 0.9);
  width: 100vw;
}

.first-view{
  position: relative;
  display: flex;
  background-color: rgb(255, 249, 231);
  margin: 0 90px;
  border-left: 30px rgba(255, 184, 103, 0.8) solid;
  border-right: 30px rgba(255, 184, 103, 0.8) solid;
}

.left-view{
  width: 100%;
}

.top-image{
  object-fit: cover;
  width: 110%;
  height: 100%;
  opacity: 30%;
}

.budgets-lists{
  width: 60%;
  position: absolute;
  top: 50px;
  left: 30px;
}

.list{
  display: flex;
  height: 120px;
  font-size: 2em;
  border: 1px #3b4043 solid;
  border-radius: 20px;
  margin-bottom: 30px;
}

.plus-link{
  padding: 200px;
}

.plus-image{
  width: 170px;
  height: 170px;
}

/* budgetsメイン リスト詳細 */

.list-image{
  width: 13%;
  text-align: center;
  background-color: rgb(255, 246, 223);
  border-radius: 20px 0px 0px 20px;
}


.note-image{
  margin-top: 5px;
  width: 100px;
  height: 100px;
}

.list-groups{
  color: #464d52;
  margin-left: 20px;
  width: 100%;
}

.list-budgets{
  display: flex;
  margin-top: 10px;
}

.list-dates{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.arrow-image{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.list-users{
  padding: 0 40px;
}

/*マウスオーバー*/

.more:hover ul.more_list {
  display: block;
}

.more ul.more_list {
  position: absolute;
  text-align: left;
  width: 80px;
  right: 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.more ul.more_list li {
  border-bottom: 1px solid #ddd;
}

.more ul.more_list li:last-child {
  border-bottom: 0;
}

.more ul.more_list li a {
  display: block;
  padding: 5px;
}

.more ul.more_list li a:hover {
  background-color: #f98600;
  color: #fff;
}

.more_list li a {
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: #464d52;
}