
/* budgetsメイン */
* {
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.contents{
  background-color: rgba(179, 140, 119, 0.9);
  width: 100vw;
}

.first-view{
  position: relative;
  display: flex;
  background-color: rgb(255, 249, 231);
  margin: 0 90px;
  border-left: 30px rgba(255, 184, 103, 0.8) solid;
  border-right: 30px rgba(255, 184, 103, 0.8) solid;
}

.left-view{
  width: 100%;
}

.right-view{
  width: 45%
}

.top-image{
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 30%;
}


.h5{
  margin: 0 auto;
}


.budget-title {
  font-size: 3.8vh;
  color: #666;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 2px #666 solid;
}

.budgets-lists{
  height: 91%;
  width: 62%;
  position: absolute;
  top: 50px;
  left: 30px;
  overflow-y: scroll;
}

.list{
  width: 100%;
  display: flex;
  height: auto;
  font-size: 3.1vh;
  border: 1px #3b4043 solid;
  border-radius: 20px;
  margin-bottom: 30px;
}

.plus-link{
  padding: 120px 10px 70px;
  text-align: center;
}

.favorite-link{
  padding: 20px 10px 70px;
  text-align: center;
}

.plus-image{
  width: 12vw;
  height: 22vh;
  padding: 20px;
  border: 1px rgba(179, 140, 119, 0.9) solid;
  border-radius: 45px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.favorite-image{
  width: 12vw;
  height: 22vh;
  padding: 8px;
  border: 1px rgba(179, 140, 119, 0.9) solid;
  border-radius: 45px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

/* budgetsメイン リスト詳細 */

.list-image{
  width: 13%;
  text-align: center;
  background-color: rgb(255, 246, 223);
  border-radius: 20px 0px 0px 20px;
}


.note-image{
  margin-top: 7%;
  width: 90%;
  height: 80%;
}

.list-groups{
  color: #464d52;
  margin-left: 20px;
  width: 100%;
}

.list-budgets{
  display: flex;
  margin-top: 10px;
}

.list-dates{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.arrow-image{
  width: 1.6vw;
  height: 3vh;
  margin-top: 10px;
}

.list-users{
  padding: 0 50px;
}

/*マウスオーバー*/

.more:hover ul.more_list {
  display: block;
}

.more ul.more_list {
  position: absolute;
  text-align: left;
  width: 80px;
  right: 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.more ul.more_list li {
  border-bottom: 1px solid #ddd;
}

.more ul.more_list li:last-child {
  border-bottom: 0;
}

.more ul.more_list li a {
  display: block;
  padding: 5px;
}

.more ul.more_list li a:hover {
  background-color: #f98600;
  color: #fff;
}

.more_list li a {
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: #464d52;
}

/*sample*/

.sample-user{
  font-size: 25px;
  color: #464d52;
}

.concepts{
  text-align: right;
  margin-top: 10%;
  margin-right: 10px;
}

.concept{
  color          : rgba(255, 255, 255, 0.9);
  font-size      : 40pt;
  letter-spacing : 6px;
  text-shadow    : 
       2px  2px 1px rgba(179, 140, 119, 0.9),
      -2px  2px 1px rgba(179, 140, 119, 0.9),
       2px -2px 1px rgba(179, 140, 119, 0.9),
      -2px -2px 1px rgba(179, 140, 119, 0.9),
       2px  0px 1px rgba(179, 140, 119, 0.9),
       0px  2px 1px rgba(179, 140, 119, 0.9),
      -2px  0px 1px rgba(179, 140, 119, 0.9),
       0px -2px 1px rgba(179, 140, 119, 0.9);
  text-decoration-line: underline;
  text-decoration-color: rgba(179, 140, 119, 0.9);
  text-decoration-thickness: 3px;
}