.budgets_contents{
  height: calc(100vh - 93px - 91px);
  width: 100%;
}

.container{
  width: 50%;
  margin: 0 auto;
  padding: 138px 100px;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  color: #666;
}

.budgets_container{
  border: 2px #ffdaa3 solid;
  height: calc(100vh - 700px);
}

.budgets_set{
  width: 80%;
  margin-left: 90px;
}

.budgets-date{
  height: 30px;
  font-size: 20px;
  color: #575555;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.budgets-yen{
  height: 30px;
  font-size: 20px;
  color: #575555;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.budgets-users{
  height: 30px;
  font-size: 20px;
  color: #575555;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.budgets-btn{
  margin: 0 auto;
  margin-top: 30px;
  width: 50%;
}

.set-red-btn {
  width: 100%;
  background: #ea952d;
  border: 1px solid #ea952d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}