.budgets_contents{
  background-color: antiquewhite;
  margin: 0 auto;
}

.container{
  background-color: #fff;
  width: 60vw;
  margin: 0 auto;
  padding: 10vh 5vw;
}

.container h3 {
  margin: 0 0 4vh;
  text-align: center;
  font-weight: normal;
  font-size: 3.8vh;
  color: #666;
}

.budgets_container{
  border: 2px #ffdaa3 solid;
  height: 100%;
}

.budgets_set{
  height: auto;
  margin: 0 auto;
  width: fit-content;
}

.budgets-date{
  margin: 40px 20px 30px;
  height: 3.2vh;
  font-size: 2.2vh;
  color: #575555;
}

.budgets-yen{
  margin: 40px 20px 30px;
  height: 3.2vh;
  font-size: 2.2vh;
  color: #575555;
}

.budgets-users{
  margin: 40px 20px 30px;
  height: 3.2vh;
  font-size: 2.2vh;
  color: #575555;
}

.budgets-btn{
  text-align: center;
}

.set-red-btn {
  font-weight: 500;
  margin: 2vh;
  width: 50%;
  background: orange;
  border: 1px solid orange;
  color: #fff;
  line-height: 4.7vh;
  font-size: 2vh;
  letter-spacing: 4vw;
  text-indent: 4vw;
  cursor: pointer;
}

/*テキストボックスのサイズ*/

.date-text{
  width: 11vw;
  text-align: center;
}

.budget-text{
  width: 10vw;
  text-align: left;
}

.users-text{
  width: 10vw;
  text-align: left;
}