.records-lists{
  height: 91%;
  width: 62%;
  position: absolute;
  top: 50px;
  left: 30px;
  overflow-y: scroll;
}

.list-records{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.budget-term{
  color: #666;
  margin-bottom: 10px;
}


.budget-term-date{
  font-size: 25px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #666;
}

.budget-term-budget{
  font-size: 34px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #666;
}

#record-sum{
  display: none;
}

#budget{
  display: none;
}


.chart-text{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}


.budget-over{
  font-size: 22px;
  color: #666;
  font-weight: 600;
  background-color: rgb(255, 233, 173);
  border-radius: 10px;
}

.budget-over-text{
  width: 100%;
  font-size: 22px;
  color: #666;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(255, 233, 173);
  border-radius: 10px;
}

