.records-lists{
  height: 91%;
  width: 62%;
  position: absolute;
  top: 50px;
  left: 30px;
  overflow-y: scroll;
}

.list-records{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.budget-term{
  color: #666;
  margin-bottom: 10px;
}


.budget-term-date{
  font-size: 25px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #666;
}

.budget-term-budget{
  font-size: 34px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #666;
}

#record-sum{
  display: none;
}

#budget{
  display: none;
}


.chart-text{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.chart-balance {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.none-chart {
  text-align: center;
}


.budget-over{
  font-size: 22px;
  color: #666;
  font-weight: 600;
  background-color: rgb(255, 233, 173);
  border-radius: 10px;
}

.budget-over-text{
  width: 100%;
  font-size: 22px;
  color: #666;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(255, 233, 173);
  border-radius: 10px;
}

/*sample表示*/

.sample-heart{
  width: 100%;
  margin: 0 auto;
}

.sample-contents{
  margin-top: 40px;
  text-align: center;
}

.sample-content{
  text-align: center;
  margin-top: 10px;
}

.sample-text{
  color: #666;
  font-size: 25px;
  background-color: rgb(254, 247, 231);
  border-radius: 10px;
}

.sample-title{
  color: #666;
  font-size: 40px;
  margin: 0 auto;
}


/*お気に入り機能*/

.list-heart-image{
  width: 13%;
  text-align: center;
  background-color: rgb(255, 246, 223);
  border-radius: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
}

.heart-image{
  width: 70%;
  margin-top: 15%;
}